a{
    text-decoration: none;
}
.location-img{
   padding: 20px;
   height: 400px;
}
.call-us{
    color: white;
}
#all_products a{
    border-top: none;
    border-bottom: none;
}
.products-and-services{
    margin-top: 20px;
}
.products-and-services ul li i{
    padding: 10px;
    margin: 5px;
    background-color: #0B5688;
    color: white;
}
.contact_us_side_section{
    margin-top: 15px;
}
.list-group-item{
    border-left: 5px solid #0B5688;;
    border-right: 5px solid #0B5688;;
}
.list-group-item:hover{
    border-left: 5px solid orangered;
    border-right: 5px solid orangered;
}
.gallery-image{
    transition: transform .2s; /* Animation */
}
.gallery-image:hover{
    transform: scale(1.05);
}
.product{
    transition: transform .2s; /* Animation */
}
.product:hover{
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.switcher-inner p{
    display: none;
}
@media screen and (max-width:600px) {
    .location-img{
        height: auto;
    }
    .all-products-badge{
        display: none;
    }
}