<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css') }}">
    {% if title %}
    <title>{{ title }}-Admin panel</title>
    {% else %}
    <title>Admin panel</title>
    {% endif %}
</head>
<body>
    <div style="width: 100%;">
        <h1>Admin panel</h1>
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{category}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block body %}
    {% endblock body %}
</body>
</html>