{% extends "admin/admin_panel.html" %}
{% block body %}
<div class="p-3">
 <!-- Header -->
 <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter m-3 p-3">
    <a href="{{ url_for('account') }}">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><span style="font-size: 36px;" class="material-icons">
          admin_panel_settings
          </span></div>
        <div class="w3-clear"></div>
        <h4>Admin account</h4>
      </div>
    </a>
    </div>
      <div class="w3-quarter m-3 p-3">
        <a href="{{ url_for('careers') }}">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left"><i style="font-size: 36px;" class="fa fa-users"></i></div>
          <div class="w3-right">
            <h3></h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Careers</h4>
        </div>
      </a>
      </div>

    <div class="w3-quarter m-3 p-3">
      <a href="{{ url_for('settings') }}">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i style="font-size: 36px;"  class="fa fa-cog"></i></div>
        <div class="w3-clear"></div>
        <h4>Settings</h4>
      </div>
    </a>
    </div>
   
  </div>
</div>
{% endblock body %}