<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css') }}">
    {% if title %}
    <title>{{ title }}-Admin panel</title>
    {% else %}
    <title>Admin panel</title>
    {% endif %}
</head>
<body>
    <div style="width: 100%;" class="p-3 container bg-light">
        <h1>Kevin & Sons General Supply and Services</h1>
        <h2>Admin panel</h2>
        <a href="{{ url_for('index') }}">Visit website</a>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{category}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
    {% block body %}
    {% endblock body %}
    </div>
    <div class="container bg-light p-3 mt-3">
        &copy;2021 All rights reserved Kevin & Sons General Supply and Services
    </div>
</body>
</html>