{% extends "layout.html" %}
{% block body %}
        <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title-breadcrumb">
                            <h2>Contact Kevin & Sons General Supply and Services</h2>
                            <ol class="breadcrumb">
                                <li><a href="{{ url_for('index') }}">Home</a></li>
                                <li>Contact</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>        
        <!-- end page-title -->    

        <div>
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category,message in messages %}
                        <div class="alert alert-{{category}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        <!-- start contact-pg-contact-section -->  
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8 col-sm-8">
                        <form method="POST"  action="">
                            {{ form.hidden_tag() }}
                            <div>
                                <div class="form-group">
                                    {{ form.fullname.label(class="form-control-label") }}
                                    {% if form.fullname.errors %}
                                    {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.fullname.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.fullname(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    {{ form.email.label(class="form-control-label text-light") }}
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    {{ form.phonenumber.label(class="form-control-label") }}
                                    {% if form.phonenumber.errors %}
                                    {{ form.phonenumber(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.phonenumber.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.phonenumber(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    {{ form.producttype.label(class="form-control-label") }}
                                    {% if form.producttype.errors %}
                                    {{ form.producttype(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.producttype.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.producttype(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            
							<div>
                                <div class="form-group">
                                    {{ form.message.label(class="form-control-label") }}
                                    {% if form.message.errors %}
                                    {{ form.message(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.message.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.message(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                           <div class="submit-btn">
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                               
                            </div>
                            
                        </form>
                    </div>
                    <div class="col col-lg-3 col-sm-4">
                        <div class="contact-info">
                            <h3>Drop us a line</h3>
                            <p>For any kind of query, contact us with the details below.</p>
                            <ul>
                                <li><i class="fa fa-phone"></i> <a href="tel:+254742000441">(+254) 742000441</a> </li>
                                <li><i class="fa fa-envelope"></i> <a href="mailto:info@kevinsonssupply.co.ke"> info@kevinsonssupply.co.ke</a> </li>
                                <li><i class="fa fa-home"></i>Visit the Main office, Nairobi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end contact-pg-contact-section -->

{% endblock body %}
