{% extends "layout.html" %}
{% block body %}

        <!-- start of hero -->   
        <section class="hero hero-slider-wrapper hero-style-3">
            <div class="hero-slider">
                <div class="slide">
                    <img src="{{ url_for('static', filename='images/electronic_gadgets.jpeg') }}" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 slide-caption">
                                <h2><span>General Supplies</span>Solutions</h2>
                                <p>We specialize in the provision of cost effective products and services supplies.</p>
                                <div class="btns">
                                    <a href="{{ url_for('products') }}" class="theme-btn">Our Products and Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <img src="{{ url_for('static', filename='images/tiles.jpg') }}" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 slide-caption">
                                <h2><span>General Supplies</span>Solutions</h2>
                                <p>We specializes in the provision of cost effective products and services supplies.</p>
                                <div class="btns">
                                    <a href="{{ url_for('index') }}#contact_section" class="theme-btn">Request a Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <img src="{{ url_for('static', filename='images/roof_image.webp') }}" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 slide-caption">
                                <h2><span>One Company</span>All Solutions</h2>
                                <p>The combination of thorough process and comprehensive experience.</p>
                                <div class="btns">
                                    <a href="{{ url_for('contact') }}" class="theme-btn">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <img src="{{ url_for('static', filename='images/slide-1.jpg') }}" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 slide-caption">
                                <h2><span>General Supply</span>Solutions</h2>
                                <p>Serves small businesses, Corporate Companies, Government & Institutions</p>
                                <div class="btns">
                                    <a href="{{ url_for('about') }}" class="theme-btn">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->


        <!-- start about-section-s3 -->
        <section class="about-section-s3 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="about-img">
                            <img class="location-img" src="{{ url_for('static', filename='images/office_location.png') }}">
                            <p style="padding: 20px;"><i class="fas fa-map-marker-alt"></i> Main office, Nairobi.</p>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="about-text">
                            <div class="title">
                                <span>About Us</span>
                                <h2>Kevin & Sons General Supply and Services.</h2>
                            </div>
                            <p><b>Kevin & Sons General Supply and Services</b> specializes in the provision of cost effective 
                                products and services 
                                ranging from Office supplies, Stationery, Furniture and equipment supplies, Building Construction materials,Water Works,Tiling,Roofing, 
                                Plumbing materials among others all over Kenya.
                                (<a href="#all_products">See all products</a>) 
                                We focus on delivering high-impact solutions that incorporate customized functionality specific 
                                to the client's requirements. The combination of thorough process, comprehensive experience and 
                                expansive creative vision enables us to provide services and products that are innovative, usable 
                                and reliable. </p>
                            <div class="signature">
                            </div>
                        </div>

                        <div class="fun-fact">
                            <div class="fun-fact-grids start-count">
                                <div class="grid">
                                    <div class="icon">
                                        <img src="{{ url_for('static', filename='images/icon-1.png') }}" alt>
                                    </div>
                                    <h3>
                                        <span class="counter" data-count="400">00</span><span>+</span>
                                    </h3>
                                    <p>projects</p>
                                </div>

                                <div class="grid">
                                    <div class="icon">
                                        <img src="{{ url_for('static', filename='images/icon-2.png') }}" alt>
                                    </div>
                                    <h3>
                                        <span class="counter" data-count="90">00</span><span>+</span>
                                    </h3>
                                    <p>Companies</p>
                                </div>

                                <div class="grid">
                                    <div class="icon">
                                        <img src="{{ url_for('static', filename='images/icon-3.png') }}" alt>
                                    </div>
                                    <h3>
                                        <span class="counter" data-count="12">00</span><span>+</span>
                                    </h3>
                                    <p>Employees</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end about-section-s3 -->

        <div>
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category,message in messages %}
                        <div class="alert alert-{{category}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        <!-- start contact-section -->
        <section id="contact_section" class="contact-section section-padding">
            <div class="container">
                <div class="col col-lg-10">
                    <div class="row">
                        <div class="col col-lg-4 col-md-4">
                            <div class="section-title-s3">
                                <h2>Request a Quote</h2>
                            </div>
                        </div>
                        <div class="col col-lg-7 col-md-8">
                            <div class="title-text">
                                <p>Fill in the form to contact us, let us know your needs, what do you want to be supplied, your budget, how soon, they type of products to be supplied and etc.</p>
                            </div>
                        </div>
                    </div>

                    <div >
                        <form method="POST"  action="">
                            {{ form.hidden_tag() }}
                            <div>
                                <div class="form-group">
                                    {{ form.fullname.label(class="form-control-label") }}
                                    {% if form.fullname.errors %}
                                    {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.fullname.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.fullname(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    {{ form.email.label(class="form-control-label text-light") }}
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    {{ form.phonenumber.label(class="form-control-label") }}
                                    {% if form.phonenumber.errors %}
                                    {{ form.phonenumber(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.phonenumber.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.phonenumber(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    {{ form.producttype.label(class="form-control-label") }}
                                    {% if form.producttype.errors %}
                                    {{ form.producttype(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.producttype.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.producttype(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            
							<div>
                                <div class="form-group">
                                    {{ form.message.label(class="form-control-label") }}
                                    {% if form.message.errors %}
                                    {{ form.message(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.message.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.message(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-primary btn-lg") }}
                                </div>
                               
                            </div>
                            
                        </form>
                        <p class="call-us">--- or ---</p>
                        <p class="call-us">Call us</p>
                        <i class="fa fa-phone call-us"></i><span class="call-us"><a href="tel:+254742000441">(+254) 742000441</a></span>
                    </div>                     
                </div>
            </div> <!-- end container -->
            <div class="contact-man">
                <img src="{{ url_for('static', filename='images/contact-man.png') }}" alt>
            </div>
        </section>
        <!-- end contact-section -->


        <!-- start work-process-section -->
        <section class="work-process-section section-padding">
            <div class="container">
                <div class="row section-title-text">
                    <div class="col col-lg-3 col-md-4">
                        <div class="section-title-s4">
                            <span>The Company</span>
                            <h2>How We Work</h2>
                        </div>
                    </div>
                    <div class="col col-lg-8 col-md-8">
                        <p>We specialize in acquisition of services and comprehensive supply chain management 
                            for corporate clients in Kenya. We know the importance to provide help to each unique 
                            client in finding the right products, services or equipment at a sensible price.</p>
                    </div>
                </div>   
                {% for comp in company %}
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="work-process-content">
                            <!-- Nav tabs -->
                            <div class="tablinks">
                                <ul>
                                    <li class="active">
                                        <a href="#tab-1" data-toggle="tab">Our Mission</a>
                                    </li>
                                    <li>
                                        <a href="#tab-2" data-toggle="tab">Our Vision</a>
                                    </li>
                                    <li>
                                        <a href="#tab-3" data-toggle="tab">Company Focus</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane in active" id="tab-1">
                                    <div class="img-holder">
                                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt>
                                    </div>
                                    <div class="details">
                                        <h3>Our Mission</h3>
                                        <p>{{ comp.mission }}</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2">
                                    <div class="img-holder">
                                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt>
                                    </div>
                                    <div class="details">
                                        <h3>Our Vision</h3>
                                        <p>{{ comp.vision }}</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-3">
                                    <div class="img-holder">
                                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
                                    </div>
                                    <div class="details">
                                        <h3>Company Focus</h3>
                                        <p>{{ comp.company_focus }}</p>
                                        <div class="detail-list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                {% endfor %}         
            </div> <!-- end container -->
        </section>
        <!-- end work-process-section -->


        <!-- start projects-section-s2 -->
        <section class="projects-section-s2 section-padding padding-bottom-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="section-title">
                            <h2>Types of products and services we supply and many more</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12 sortable-gallery">
                        <div id="all_products">
                            <div class="list-group list-group-flush">
                                <li class="list-group-item active d-flex justify-content-between align-items-center">
                                   <span>Click products & services to view in detail.</span> 
                                    <span class="badge badge-primary badge-pill all-products-badge">20+ products & services</span>
                                  </li>
                                  <br>
                                <a class="list-group-item list-group-item-action" href="{{url_for('products')}}#product8" >General Hardware materials</a>
                                <br>
                                <a href="{{url_for('products')}}" class="list-group-item list-group-item-action">Office supplies</a>
                                <br>
                                <a href="{{url_for('products')}}#product1" class="list-group-item list-group-item-action">Stationery</a>
                                <br>
                                <a href="{{url_for('products')}}#product2" class="list-group-item list-group-item-action">Furniture and equipment supplies</a>
                                <br>
                                <a href="{{url_for('products')}}#product3" class="list-group-item list-group-item-action">Building construction materials</a>
                                <br>
                                <a href="{{url_for('products')}}#product4" class="list-group-item list-group-item-action">Tiling, roofing, water works and plumbing materials</a>
                                <br>
                                <a href="{{url_for('products')}}#product5" class="list-group-item list-group-item-action">Road construction material supplies</a>
                                <br>
                                <a href="{{url_for('products')}}#product6" class="list-group-item list-group-item-action">Industrial and Institutional chemical supplies</a>
                                <br>
                                <a href="{{url_for('products')}}#product7" class="list-group-item list-group-item-action">Pest control and fumigation supplies and services</a>
                                <br>
                                <a href="{{url_for('products')}}#product8" class="list-group-item list-group-item-action">Industrial safety</a>
                                <br>
                                <a href="{{url_for('products')}}#product9" class="list-group-item list-group-item-action">Steam and steam fittings supplies</a>
                                <br>
                                <a href="{{url_for('products')}}#product11" class="list-group-item list-group-item-action">Manufacturing plants and equipment</a>
                                <br>
                                <a href="{{url_for('products')}}#product12" class="list-group-item list-group-item-action">Medical supplies and equipment</a>
                                <br>
                                <a href="{{url_for('products')}}#product13" class="list-group-item list-group-item-action">Cleaning agents and equipment</a>
                                <br>
                                <a href="{{url_for('products')}}#product14" class="list-group-item list-group-item-action">CCTV security and bio-metric door access systems</a>
                                <br>
                                <a href="{{url_for('products')}}#product15" class="list-group-item list-group-item-action">Fresh and dry food stuffs & dairy products</a>
                                <br>
                                <a href="{{url_for('products')}}#product16" class="list-group-item list-group-item-action">Electrical general supplies</a>
                                <br>
                                <a href="{{url_for('products')}}#product17" class="list-group-item list-group-item-action">Electronics and accessories supplies</a>
                                <br>
                                <a href="{{url_for('products')}}#product18" class="list-group-item list-group-item-action">ICT and computers and accessories general supplies</a>
                              </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        <!-- end projects-section-s2 -->
        <!-- start cta-section-s2 -->
        <section class="cta-section-s2">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="cta-text">
                            <h3>We provide innovative Product Solutions for sustainable progress.</h3>
                            <a href="{{ url_for('contact') }}" class="theme-btn-s2">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>   
        <!-- end cta-section-s2 -->


{% endblock body %}